<footer>
  <div class="footer-bg" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 contact-us-block">
          <div class="contact-us">
            <div class="contact-title">
              <h2 class="title"><b>Contact</b> Us</h2>
            </div>
            <form action="#" method="POST" id="xs-contact-form" class="xs-form">
              <div class="row">
                <div class="col-md-6">
                  <input type="text" class="form-control" name="name" placeholder="First Name" id="xs_contact_name">
                </div>
                <div class="col-md-6">
                  <input type="email" class="form-control invaild" name="email" placeholder="Email" id="xs_contact_email">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <input type="text" class="form-control" name="Subject" placeholder="Subject" id="xs_contact_subject">
                </div>
              </div>
              <textarea name="massage" placeholder="Your Message" id="x_contact_massage" class="form-control message-box" cols="30" rows="3"></textarea>
              <div class="readmore text-center">
                <button class="main-btn">
                  <span class="button">submit now </span></button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-sm-8 contact-block-main">
            <div class="contact-us-desc">
              <div class="row">
                <div class="col-sm-4 Contact-block">
                  <div class="contact-img-wrapper">
                    <div class=""> <i class="fa fa-map-marker"></i></div>
                  </div>
                  <div class="contact-desc">
                    <p>204 Pawpaw St. Comm. 6 Extension<br>
                    Tema P. O. Box BT 7 Comm. 2, Tema</p>
                  </div>
                </div>
                <div class="col-sm-4 Contact-block">
                  <div class="contact-img-wrapper">
                    <div class=""> <i class="fa fa-phone"></i></div>
                  </div>
                  <div class="contact-desc">
                    <p>+233 501 535, </p>
                    <p>+233 303 317 555</p>
                  </div>
                </div>
                <div class="col-sm-4 Contact-block">
                  <div class="contact-img-wrapper"> 
                    <div class=""> <i class="fa fa-envelope-open"></i></div>
                  </div>
                  <div class="contact-desc">
                    <!--<p>Info@jommoro.com</p>-->
                    <p>support@jommoro.com</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="block_content">
              <ul class="footer_sub_menu">
                <li><a href="#">About Us</a></li>
                <li><a href="#">feature</a></li>
                <li><a href="#">Screen Short</a></li>
                <li><a href="assets/jommoro_privacy_policy.pdf" target="_blanks">Policy Privacy</a></li>
                <!--<li><a href="#">Our Team</a></li>
                <li><a href="#">Blog</a></li>-->
              </ul>
            </div>
            <div class="social-icon">
              <ul>
                <li class="facebook"><a href="https://www.facebook.com/Enterprise-Computing-636650643461356/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li class="twitter"><a href="https://twitter.com/ECL_OFFICIAL" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <!--<li class="rss"><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>-->
                <li class="instagram"><a href="https://www.instagram.com/entcomputing_official/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li class="youtube"><a href="https://www.youtube.com/channel/UCL1ZhonDT541OQ7yiuPPLzQ" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                <!--<li class="google-plus"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>-->
              </ul>
            </div>
            <div class="copyright">
              <a href="https://www.entcomputing.com">Copyright © 2019 Enterprise Computing, All Right Reserved.</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>