<div class="container">
  <div class="about-us" id="about">			
    <div class="row">
      <div class="col-sm-7 about-us-contain">
        <h2 class="title"><b>About</b> Us</h2>
        <p class="about-desc">Jommoro is an online platform that provides people with information on
          fixed deposit and T Bill rates of various financial institutions. </p>
        <p class="about-desc about-desc-1">Enterprise Computing is a technology-based organization with 
          exceptional expertise in providing simplified solutions for all our valued customers. </p>
        <!--<div class="about-content">
          <ul class="about-content-top">
            <li class="item"><span class="about-icon img-1"></span><a href="#">Best template</a></li>
            <li class="item"><span class="about-icon img-2"></span><a href="#">Unique Design</a></li>
            <li class="item"><span class="about-icon img-3"></span><a href="#">100% Responsive</a></li>
          </ul>
          <ul class="about-content-bottom">
            <li class="item"><span class="about-icon img-4"></span><a href="#">Psd is included</a></li>
            <li class="item"><span class="about-icon img-5"></span><a href="#">Multi Platform</a></li>
            <li class="item"><span class="about-icon img-6"></span><a href="#">Documentation</a></li>
          </ul>
        </div>-->
      </div>
      <div class="col-sm-5 about-us-img">
        <a class="img-about" href="#"><img src="assets/img/abtmob.png" alt="about-mobile.png" class="about-img img-fluid"></a>
      </div>
    </div>
  </div>
</div>
<!-- about-us section end -->
<!-- service section start -->
 
<div class="service" id="service">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 service-block">
        <div class="service-img " Style="background:#fd0707;">
          <div class="img-1 "></div>
        </div>
        
        <p class="service-title">INVESTMENT TRACKING</p>
        <p class="service-desc">It provides a single window where investors can track all their investments
         This is an innovative way of bringing your investment account close to you.</p>
      </div>
      <div class="col-sm-3 service-block">
        <div class="service-img " Style="background:#3671f1;">
          <div class="img-2"></div>
        </div>
        <p class="service-title">FOREX RATES EXCHANGE</p>
        <p class="service-desc">Forex rates at your figures tips inorder to know how and when 
        to make international deals and investments.</p>
      </div>
      <div class="col-sm-3 service-block">
        <div class="service-img " Style="background: #fd0707;">
          <div class="img-3 "></div>
        </div>
        <p class="service-title">FAST AND FLEXIBLE</p>
        <p class="service-desc">Presents to the investing public the respective 
      fixed Deposit and T Bill rates of financial institutions</p>
      </div>
      <div class="col-sm-3 service-block">
        <div class="service-img " Style="background:#2ea1ea;">
          <div class="img-4"></div>
        </div>
        <p class="service-title">TRUST</p>
        <p class="service-desc">This is a trustworthy platform that investors can rely on as a central investment platform. 
      All transactions are made directly to the participating financial institutions.</p>
      </div>
    </div>
  </div>
</div>
<!-- service section end -->
<!-- tab-menu start -->
<div class="tab-main-block" id="portfolio">
  <div class="container">
    <div class="tab-menu-main">
      <div class="row">
        <div class="col-sm-3 tab-block-left">
          <div class="tab-img">
            <a class="img-about" href="#"><img src="assets/img/jom4.png" alt="Mob-02.png" class="img-fluid"></a>
          </div>
        </div>
        <div class="col-sm-4 navtab-left">
          <ul class="nav nav-tabs bxslider" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#FirstFrame" role="tab" aria-controls="FirstFrame">
                <div class="tab-block">
                  <div class="tab-img-wrapper">
                    <div class="tab-images"  Style="background:#2ea1ea;">
                      <div class="tab-image img-1"></div>
                    </div>
                  </div>
                  <div class="tab-details">
                    <p class="tab-title">Funds</p>
                   <p class="tab-desc">Investment funds are transferred to your investor</p>
                  </div>
                </div>
              </a>
            </li>        
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#Sunglasses" role="tab" aria-controls="Sunglasses">
                <div class="tab-block">
                  <div class="tab-img-wrapper">
                    <div class="tab-images" Style="background:#2ea1ea;">
                      <div class="tab-image img-2"></div>
                    </div>
                  </div>
                  <div class="tab-details">
                    <p class="tab-title">Analytics</p>
                    <p class="tab-desc">Mathematical summary of your investments</p>
                  </div>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#Eyeglasses" role="tab" aria-controls="Eyeglasses">
                <div class="tab-block">
                  <div class="tab-img-wrapper">
                    <div class="tab-images"  Style="background:#2ea1ea;">
                      <div class="tab-image img-3"></div>
                    </div>
                  </div>
                  <div class="tab-details">
                    <p class="tab-title">Security </p>
                    <p class="tab-desc">ECL ensured Jommoro is registered with the Data Protection Commission</p>
                  </div>
                </div>
              </a>
            </li>
            <!--<li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#delete" role="tab" aria-controls="Eyeglasses">
                <div class="tab-block">
                  <div class="tab-img-wrapper">
                    <div class="tab-images">
                      <div class="tab-image img-3"></div>
                    </div>
                  </div>
                  <div class="tab-details">
                    <p class="tab-title">SEO</p>
                    <p class="tab-desc">Lorem ipsum dolor sit amet,
                    consectetur adipisicing</p>
                  </div>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#upload" role="tab" aria-controls="Sunglasses">
                <div class="tab-block">
                  <div class="tab-img-wrapper">
                    <div class="tab-images">
                      <div class="tab-image img-2"></div>
                    </div>
                  </div>
                  <div class="tab-details">
                    <p class="tab-title">upload videos</p>
                    <p class="tab-desc">Lorem ipsum dolor sit amet,
                    consectetur adipisicing</p>
                  </div>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#download" role="tab" aria-controls="Eyeglasses">
                <div class="tab-block">
                  <div class="tab-img-wrapper">
                    <div class="tab-images">
                      <div class="tab-image img-3"></div>
                    </div>
                  </div>
                  <div class="tab-details">
                    <p class="tab-title">download</p>
                    <p class="tab-desc">Lorem ipsum dolor sit amet,
                    consectetur adipisicing</p>
                  </div>
                </div>
              </a>
            </li>-->
          </ul>
        </div>
        <div class="col-sm-5 tab-content">
          <div class="tab-pane active" id="FirstFrame" role="tabpanel">
            <p class="tab-desc">Investment funds are transferred from investors’ mobile wallets or debit
              cards directly to the selected financial institution.</p>
            <p class="tab-desc">The App is available to the everyday investor as well as non-resident Citizens looking at investing.</p>
          </div>
          <div class="tab-pane" id="Sunglasses" role="tabpanel">
            The App provides weekly and monthly analytics report on investment
            patterns of users
          </div>
          <div class="tab-pane" id="Eyeglasses" role="tabpanel">
            The Jommoro app is built with Token authentication.Enterprise Computing is registered
            with the Data Protection Commission under the Data Protection Act 843.
          </div>
          <!--<div class="tab-pane" id="delete" role="tabpanel">
            display4
          </div>
          <div class="tab-pane" id="upload" role="tabpanel">
            display5
          </div>
          <div class="tab-pane" id="download" role="tabpanel">
            display6
          </div>-->

        </div>

      </div>
    </div>
  </div>
</div>
<!-- tab-menu end -->
<!-- section-screenshots start -->

<div class="section-screenshots" id="screenshot">
  <div class="container">
    <div class="screenshots-title">
      <h2 class="title"><b>Our</b> screenshot</h2>
    </div>
    
    <div class="snap-bg-img">
      <img src="assets/img/light-left.png" alt="light-left.png" class="img-fluid mobile-light-left">
      <img src="assets/img/light-right.png" alt="light-right.png" class="img-fluid mobile-light-right">
    </div>
    
    <div class="screenshots-img autoplay">
      <a class="img-snap" href="#"><img src="assets/img/screenshots/jom7.png" alt="1.jpg" class="img-fluid"></a>
      <a class="img-snap" href="#"><img src="assets/img/screenshots/jom1.png" alt="2.jpg" class="img-fluid"></a>
      <a class="img-snap" href="#"><img src="assets/img/screenshots/jom2.png" alt="3.jpg" class="img-fluid"></a>
      <a class="img-snap" href="#"><img src="assets/img/screenshots/jom3.png" alt="4.jpg" class="img-fluid"></a>
      <a class="img-snap" href="#"><img src="assets/img/screenshots/jom2.png" alt="5.jpg" class="img-fluid"></a>
      <a class="img-snap" href="#"><img src="assets/img/screenshots/jom7.png" alt="6.jpg" class="img-fluid"></a>
    </div>
  </div>
</div>
<!-- section-screenshots end -->
<!-- testimonil section start -->

<!--<div class="testimonil" id="testimonil">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 testimonil-title">
        <h2 class="title"><b>Our</b> Team</h2>
      </div>
      <div class="col-sm-9">
        <div class="testimonil-main multiple-items">
          
          <div class="testimonil-block">
            <div class="testimonil-desc">
              <div class="testi-img"><img src="assets/img/testimonil/test-1.jpg" class="img-fluid" alt="person-1.jpg">
              </div>
              <h2 class="name">john doe</h2>
              <h3 class="designation">Developer</h3>
            </div>
            <div class="testimonil-icon">
              <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="testimonil-block">
            <div class="testimonil-desc">
              <div class="testi-img"><img src="assets/img/testimonil/test-2.jpg" class="img-fluid" alt="person-1.jpg"></div>
              <h2 class="name">john doe</h2>
              <h3 class="designation">Developer</h3>
            </div>
            <div class="testimonil-icon">
              <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="testimonil-block">
            <div class="testimonil-desc">
              <div class="testi-img"><img src="assets/img/testimonil/test-3.jpg" class="img-fluid" alt="person-1.jpg"></div>
              <h2 class="name">john doe</h2>
              <h3 class="designation">Developer</h3>
            </div>
            <div class="testimonil-icon">
              <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="testimonil-block">
            <div class="testimonil-desc">
              <div class="testi-img"><img src="assets/img/testimonil/test-4.jpg" class="img-fluid" alt="person-1.jpg"></div>
              <h2 class="name">john doe</h2>
              <h3 class="designation">Developer</h3>
            </div>
            <div class="testimonil-icon">
              <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="testimonil-block">
            <div class="testimonil-desc">
              <div class="testi-img"><img src="assets/img/testimonil/test-5.jpg" class="img-fluid" alt="person-1.jpg"></div>
              <h2 class="name">john doe</h2>
              <h3 class="designation">Developer</h3>
            </div>
            <div class="testimonil-icon">
              <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
<!-- testimonil section end -->
<!-- blog section section start -->
<!-- blog-left start -->

<!--<div class="home-blog" id="blog">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 blog-left-main">
        <div class="blog-title">
          <h2 class="title"><b>Our</b> Blog</h2>
        </div>
        <div class="blog-main slider">
          <div class="blog-inner">
            <div class="blog-img">
              <a class="img-blog" href="#"><img src="assets/img/blog/blog-1.jpg" class="img-fluid" alt="blog.jpg"></a>
            </div>
            <div class="blog-contain">
              <p class="blog-date">25 january 2018</p>
              <p class="blog-desc">Lorem Ipsum has been the industry's 
                dummy text<span class="short-desc">consectetur adipiscing elit. Sed at ante. Mauris eleifend, quam a vulputate dictum, massa quam,
                </span></p>
                
                <a class="blog-btn">Read more</a>
              </div>
            </div>
            <div class="blog-inner">
              <div class="blog-img">
                <a class="img-blog" href="#"><img src="assets/img/blog/blog-2.jpg" class="img-fluid" alt="blog.jpg"></a>
              </div>
              <div class="blog-contain">
                <p class="blog-date">25 january 2018</p>
                <p class="blog-desc">Lorem Ipsum has been the industry's 
                  dummy text<span class="short-desc">consectetur adipiscing elit. Sed at ante. Mauris eleifend, quam a vulputate dictum, massa quam,
                  </span></p>
                  <a class="blog-btn">Read more</a>
                </div>
              </div>
              <div class="blog-inner">
                <div class="blog-img">
                  <a class="img-blog" href="#"><img src="assets/img/blog/blog-3.jpg" class="img-fluid" alt="blog.jpg"></a>
                </div>
                <div class="blog-contain">
                  <p class="blog-date">25 january 2018</p>
                  <p class="blog-desc">Lorem Ipsum has been the industry's 
                    dummy text<span class="short-desc">consectetur adipiscing elit. Sed at ante. Mauris eleifend, quam a vulputate dictum, massa quam,
                    </span></p>
                    <a class="blog-btn">Read more</a>
                  </div>
                </div>
                <div class="blog-inner">
                  <div class="blog-img">
                    <a class="img-blog" href="#"><img src="assets/img/blog/blog-4.jpg" class="img-fluid" alt="blog.jpg"></a>
                  </div>
                  <div class="blog-contain">
                    <p class="blog-date">25 january 2018</p>
                    <p class="blog-desc">Lorem Ipsum has been the industry's 
                      dummy text<span class="short-desc">consectetur adipiscing elit. Sed at ante. Mauris eleifend, quam a vulputate dictum, massa quam,
                      </span></p>
                      <a class="blog-btn">Read more</a>
                    </div>
                  </div>
                  <div class="blog-inner">
                    <div class="blog-img">
                      <a class="img-blog" href="#"><img src="assets/img/blog/blog-5.jpg" class="img-fluid" alt="blog.jpg"></a>
                    </div>
                    <div class="blog-contain">
                      <p class="blog-date">25 january 2018</p>
                      <p class="blog-desc">Lorem Ipsum has been the industry's 
                        dummy text<span class="short-desc">consectetur adipiscing elit. Sed at ante. Mauris eleifend, quam a vulputate dictum, massa quam,
                        </span></p>
                        <a class="blog-btn">Read more</a>
                      </div>
                    </div>
                    <div class="blog-inner">
                      <div class="blog-img">
                        <a class="img-blog" href="#"><img src="assets/img/blog/blog-6.jpg" class="img-fluid" alt="blog.jpg"></a>
                      </div>
                      <div class="blog-contain">
                        <p class="blog-date">25 january 2018</p>
                        <p class="blog-desc">Lorem Ipsum has been the industry's 
                          dummy text<span class="short-desc">consectetur adipiscing elit. Sed at ante. Mauris eleifend, quam a vulputate dictum, massa quam,
                          </span></p>
                          <a class="blog-btn">Read more</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- blog-left end -->
                  <!-- blog-right start -->
                  <!--<div class="col-sm-6 blog-right-main">
                    <div class="blog-title">
                      <h2 class="title"><b>Why</b> We Choice</h2>
                    </div>
                    <div class="blog-service-main">
                      <div class="blog-service-inner">
                        <div class="img-wrapper">
                          <div class="blog-img img-1"></div>
                        </div>
                        <div class="blog-contain">
                          <p class="blog-service-title">Dark & Bright Menu bar</p>
                          <p class="blog-service-desc">Lorem ipsum dolor sit amet, consectetur adipis
                          icing Lorem ipsum dolor </p>
                        </div>
                      </div>
                      <div class="blog-service-inner">
                        <div class="img-wrapper">
                          <div class="blog-img img-2"></div>
                        </div>
                        <div class="blog-contain">
                          <p class="blog-service-title">Pre-build pages ready</p>
                          <p class="blog-service-desc">Lorem ipsum dolor sit amet, consectetur adipis
                          icing Lorem ipsum dolor </p>
                        </div>
                      </div>
                      <div class="blog-service-inner">
                        <div class="img-wrapper">
                          <div class="blog-img img-3"></div>
                        </div>
                        <div class="blog-contain">
                          <p class="blog-service-title">UI Components</p>
                          <p class="blog-service-desc">Lorem ipsum dolor sit amet, consectetur adipis
                          icing Lorem ipsum dolor </p>
                        </div>
                      </div>
                      <div class="blog-service-inner">
                        <div class="img-wrapper">
                          <div class="blog-img img-4"></div>
                        </div>
                        <div class="blog-contain">
                          <p class="blog-service-title">Application</p>
                          <p class="blog-service-desc">Lorem ipsum dolor sit amet, consectetur adipis
                          icing Lorem ipsum dolor </p>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>-->
                <!-- blog-right end -->
            <!--</div>
            </div>-->
            <!-- blog section section end -->
            <!-- google-map section start -->
            <!--<div class="google-map">
              <div class="map-img" id="map-img" title="google-map"></div>
              <div class="xs-map-sec">
                <div class="xs-maps-wraper">
                  <div class="map">
                    <iframe src="https://maps.google.com/maps?width=100&amp;height=600&amp;hl=en&amp;q=New%20York%2C%20USA+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed"></iframe>
                  </div>
                </div>
              </div>

            </div>-->
            <!-- google-map section end -->

            <app-footer></app-footer>