<!--The content below is only a placeholder and can be replaced.-->
<section id="home">
  <header>
    <div class="header" >
      <div class="container">
        <div class="row">
          <div class="logo col-sm-6">
            <a class="header-logo" href=""><img src="assets/img/moro1.png" alt="theme-logo" class="img-fluid mainlogo" Style=""></a>
          </div>
          <div class="right-nav col-sm-6">
            <div class="right-wrapper">
              <div class="sidenav">
                <div class="wrapper">
                  <!-- Sidebar -->

                  <!-- Page Content -->
                  <div id="content" class="btn-nav">
                    <button type="button" id="sidebarCollapse" >
                      <i class="fa fa-bars" aria-hidden="true"></i>
                    </button>
                    <nav id="sidebar">
                      <div id="dismiss">
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </div>
                      <img src="assets/img/moro1.png" alt="theme-logo" class="sidebar-logo" Style="height: 70px; width: 80px;">
                      <ul class="list-unstyled components">
                        <li class="active">
                          <a  class="smoothscroll" href="#home" title="home">Home</a>
                        </li>
                        <li>
                          <a class="smoothscroll" href="#about" title="about">About</a>
                        </li>
                        <li>
                          <a class="smoothscroll" href="#service" title="service">Service</a>
                        </li>
                        <li>
                          <a class="smoothscroll" href="#portfolio" title="portfolio">Portfolio</a>
                        </li>
                        <li>
                          <a class="smoothscroll" href="#screenshot" title="screenshot">our screenshot</a>
                        </li>
                      <!--	<li>
                          <a class="smoothscroll" href="#testimonil" title="our team">our Team</a>
                        </li>
                        <li>
                          <a class="smoothscroll" href="#blog" title="blog">our Blog</a>
                        </li>-->
                        <li>
                          <a  class="smoothscroll" href="#contact" title="contact">Contact</a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                  <!-- Dark Overlay element -->
                  <div class="overlay"></div>
                </div>
              </div>
              <div class="header-contact-us">
                <a href="#contact" class="contact-us-btn btn smoothscroll">Contact Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  
  <div class="image-slider">
    <div class="container">
      <div class="img-details">
        <p class="img-desc"><span>JomMoro <br>
        Check Rates, Invest<br> Boldly</span></p>
        <p class="img-title">  <span>Download Now</span></p>
        <div class="img-bottom">					
          <a class="img-left" href="#"><img src="assets/img/left-img.png" alt="left-img.png"></a>
          <a class="img-right" href="#"><img src="assets/img/right-img.png" alt="right-img.png"></a>
        </div>
      </div>
    </div>
    <div class="slider-bottom-img js-tilt" data-tilt-axis="x" data-tilt-perspective="1000" data-tilt-scale="1" data-tilt-speed="400" data-tilt-max="10">
      <a class="img-right" href="#"><img src="assets/img/jom4.png" alt="mobile-main.png" class="img-fluid"></a>
    </div>
  </div>
  <!-- header section end -->
</section>
<!-- main section start -->
<!-- about-us section start -->
          
            <!-- footer start -->
           
<router-outlet></router-outlet>
