<div class="container">
  <div class="about-us" id="about">			
    <div class="row">
      <div class="col-sm-6 about-us-contain">
        <h2 class="title"><b>About</b> Us</h2>
        <p class="about-desc">Jommoro is an online platform that provides people with information on
          fixed deposit and T Bill rates of various financial institutions. </p>
        <p class="about-desc about-desc-1">Enterprise Computing is a technology-based organization with 
          exceptional expertise in providing simplified solutions for all our valued customers. </p>
       
      </div>
      <div class="col-sm-6 about-us-contain">
        <h2 class="title"><b>About</b> Us</h2>
        <p class="about-desc">Jommoro is an online platform that provides people with information on
          fixed deposit and T Bill rates of various financial institutions. </p>
        <p class="about-desc about-desc-1">Enterprise Computing is a technology-based organization with 
          exceptional expertise in providing simplified solutions for all our valued customers. </p>
       
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>